DATABASE_URL="postgresql://postgres:postgres@localhost:5432/webu_portal?schema=public"
PORT=4000
AUTH_ALLOWED_DOMAINS="st.kobedenshi.ac.jp,gmail.com"
ADMIN_SEED_EMAILS="admin@gmail.com"
ENDPOINT="http://minio:9000"
PUBLIC_UPLOAD_ENDPOINT="http://localhost:9000"
PUBLIC_ENDPOINT="http://localhost:9000"
ACCESS_KEY="minioadmin"
SECRET_KEY="minioadmin"
BUCKET_NAME="webu-portal"
